*{
    margin: 0 auto;
    padding: 0;
    
}
 /* Cabeçalho */

header{
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(69, 133, 228) 60%);
    margin: 0 auto;
    height: 200px;
    border-top: 8px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
    height: 40vh;
}


.banner img{
    display: block;
    margin: 0px auto;
    width: 40vw;
    height: 35vh;
}

.redessociais img{
    float: right;
    width: 25px;
    height: 25px;  
    padding: 0px 10px;

}

.redessociais img:hover{
    background-color: #fff;
    border-radius: 20px;
    transition: 0.6s;
}

 /* Menu horizontal */

#menu-h{
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(69, 133, 228) 60%);
    border-left: 6px solid black;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
}

#menu-h ul{
    list-style: none;
    padding: 0;
    max-width: 800px;
    font-size: 21px;
    
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    display: inline-block;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;

}

#menu-h ul li a:hover {
    background-color: rgb(98, 98, 238);
    transition: 0.6s;
}

#menu-h ul li:last-child a{
    float: right;
    background-color: blue;
}

#menu-h ul li:last-child a:hover{
    border: 1px solid #fff ;
}


/* Meio */

.container1{
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(69, 133, 228) 60%);
    border-left: 6px solid black;
    border-right: 6px solid black;
    padding-top: 30px;
    
}

 /* Imagem Meio */

.topo{
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}

.topo img{
    display: block;
    margin: 0 auto;
    width: 950px;
    height: 400px;
    border: 1px solid black;
    box-shadow: 0px 0px 0px 3px #000000;
    
}

/* Carrossel */

.carrossel{
    width: 400px;
    height: 450px;
    padding: 10px;
    overflow: hidden;
}

.carrossel img{
    width: 400px;
    height: 400px;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.7);
    
}

.carrossel ul{
    display: flex;
    list-style: none;
    width: 1200px;
    height: 400px;
}

.carrossel li{
    position: relative;
    animation: slide 15s infinite ease-out;
    left: -400px;
}

.carrossel h3{
    text-align: center;
    font-size: 22px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    padding-bottom: 20px;

}

@keyframes slide{

0% {left: 0px}
20% {left: 0px}

30% {left: -400px}
50% {left: -400px}

60% {left: -800px}
90% {left: -800px}

100% {left: 0px}
}

/* Rodapé */

footer{
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(69, 133, 228) 60%); 
	color: black;
	text-align: right;
	font-size: 9pt;
	height: 16px;
    border-left: 6px solid black;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
    
}

/* Fim Index.Html */


/* Marcas.Html */

.container2{
    display: grid;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(69, 133, 228) 60%); 
    grid-template-columns: 1fr 1fr;
    border-left: 6px solid black;
    border-right: 6px solid black;
    padding-top: 40px;
    padding-bottom: 30px;
    
}

.produtoprincipal{
    color: #fff;
    background-color: black;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(244, 244, 244);
    border-radius: 10px;
    width: 37vw;
    
}


.preçoantigo{
    color: red;
}

.preçonovo{
    color: #fff;
    background-color: black;
    text-shadow: 0 0 5px #fff;
    padding: 3px;
}

.seta{
    background-color: rgb(104, 173, 0);
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1px 3px;
}

.frete{
    border: 1px solid #272626;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.7); 
    padding: 10px;
    width: 20vw;
}

.frete input{
    width: 10vw;
}

.button1{
    cursor: pointer;
    padding: 2px;
    background-color: rgb(104, 173, 0);
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}

.comprar{
    width: 25vw;
    padding: 10px;
    border: 1px solid #272626;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.7);
    background-color: rgb(104, 173, 0);
    text-align: center;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    
}

.comprar:hover{
    outline: 1px solid rgb(255, 255, 255);
    background-color: rgb(150, 239, 18);
}

.produto img{
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 0px 3px #000000;
    
}

.container3{
    display: grid;
    background: linear-gradient(to right, rgb(69, 133, 228) 0%, rgb(255, 255, 255) 60%); 
    grid-template-columns: 1fr 1fr;
    border-left: 6px solid black;
    border-right: 6px solid black;
    padding-top: 40px;
    padding-bottom: 30px;
}

